@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext');

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext');

@import url('https://fonts.googleapis.com/css?family=Pattaya&subset=cyrillic');

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
menu {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li,
menu li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  margin-bottom: 3rem;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #dddddd;
}

table caption {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

table th {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

table td {
  padding: 10px;
  font-size: 14px;
}

table tr:nth-of-type(2n) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #cccccc;
}

.header {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.header .header__logo {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background: url("../img/kolobok-taxi.png") no-repeat;
  background-size: contain;
  font-family: 'Pattaya', Arial, sans-serif;
  font-size: 28px;
  text-decoration: none;
  color: #000000;
}

.header .header__logo-wrapper {
  box-sizing: border-box;
}

.header .header__desc {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
  border-left: 1px dashed #000000;
}

.header .header__desc span {
  display: block;
  font-size: 13px;
}

.header .header__desc-wrapper {
  box-sizing: border-box;
}

.header .header__online {
  align-self: center;
  padding: 5px 20px 5px 20px;
  border-radius: 30px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #e3000f;
}

.header .header__online:focus,
.header .header__online:active,
.header .header__online:visited {
  text-decoration: none;
  outline: none;
}

.header .header__online-wrapper {
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
}

.header .header__phone {
  position: relative;
  align-self: center;
}

.header .header__phone::before {
  position: absolute;
  left: -60px;
  top: calc(50% - 30px);
  width: 60px;
  height: 60px;
  content: "";
  background: url("../img/phone.png") no-repeat;
  background-size: cover;
}

.header .header__phone span {
  display: block;
  margin: 10px 0px;
  font-weight: bold;
}

.header .header__phone-wrapper {
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
}

.header .header__navy {
  flex-basis: 100%;
  border-top: 1px solid #e7e7e7;
}

.header .header__menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-weight: bold;
}

.header .header__menu a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px dashed #000000;
}

.header .header__menu a.red {
  text-decoration: none;
  color: #e3000f;
  border-bottom: none;
}

.header .header__menu a:hover {
  color: #e3000f;
  border-bottom: 1px dashed #e3000f;
}

.title-image {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100%;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  background: #3949ab url("../img/title-image.jpg") no-repeat;
  background-position: right 0px bottom 0px;
  background-size: cover;
}

.title-image .title-image__wrapper {
  margin: 0 20px;
  border-radius: 120px;
  text-align: center;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}

.title-image .title-image__inst {
  display: block;
  margin-top: auto;
  text-align: center;
  color: #ffffff;
}

.content h2 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.content p {
  margin: 1em;
  line-height: 1.5;
}

.services {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.services .services__basic h2::after {
  position: absolute;
  content: "";
  background: url("../img/basic.png") no-repeat;
  background-size: cover;
}

.services .services__add h2::after {
  position: absolute;
  content: "";
  background: url("../img/add.png") no-repeat;
  background-size: cover;
}

.services .services__advantages h2::after {
  position: absolute;
  content: "";
  background: url("../img/advantages.png") no-repeat;
  background-size: cover;
}

.services .services__features {
  flex-basis: 100%;
  background-color: #20252b;
  color: #ffffff;
}

.services .services__features h2 {
  position: relative;
  margin-bottom: 80px;
  padding-bottom: 30px;
  border-bottom: 1px solid #3c424a;
  text-transform: uppercase;
  font-weight: bold;
  color: #febf01;
}

.services .services__features li {
  margin-bottom: 30px;
  display: block;
  color: #8693a2;
}

.services .services__features b {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.services .services__features b::before {
  position: absolute;
  content: "";
  left: calc(50% - 20px);
  top: -50px;
  width: 40px;
  height: 40px;
}

.services .services__features li:nth-of-type(1) b::before {
  background: url("../img/chauffeur.png") no-repeat;
  background-size: cover;
}

.services .services__features li:nth-of-type(2) b::before {
  background: url("../img/currency_ruble_sign.png") no-repeat;
  background-size: cover;
}

.services .services__features li:nth-of-type(3) b::before {
  background: url("../img/hourglass.png") no-repeat;
  background-size: cover;
}

.services .services__features li:nth-of-type(4) b::before {
  background: url("../img/alarm.png") no-repeat;
  background-size: cover;
}

.services h2 {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.services li {
  margin-bottom: 7px;
  text-align: center;
}

.services a,
.services a:visited,
.services a:active,
.services a:focus {
  color: #0054b9;
  text-decoration: none;
  border-bottom: 1px dashed #0054b9;
}

.services a:hover {
  color: #cc0000;
  text-decoration: none;
  border-bottom: 1px dashed #cc0000;
}

.price {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.price h2 {
  margin-bottom: 50px;
  flex-basis: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.car-park {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.car-park .car-park__brand {
  box-sizing: border-box;
}

.car-park .car-park__brand span {
  display: block;
  text-align: center;
  font-weight: bold;
}

.car-park h2 {
  margin-bottom: 50px;
  flex-basis: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.car-type {
  position: relative;
}

.car-type__wrapper > div {
  flex-basis: 33.33%;
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 20px;
  color: #ffffff;
}

.car-type__img-1 {
  background: url("../img/t-econom.jpg") no-repeat;
  background-size: cover;
  text-align: left;
}

.car-type__img-2 {
  background: url("../img/t-comfort.jpg") no-repeat;
  background-size: cover;
  text-align: center;
}

.car-type__img-3 {
  background: url("../img/t-business.jpg") no-repeat;
  background-size: cover;
  text-align: right;
}

.car-type__wrapper h3 {
  text-shadow: #000 0 0 2px;
}

.car-type__wrapper span {
  text-shadow: #000 0 0 2px;
}

.footer {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  background-color: #20252b;
  color: #ffffff;
}

.footer .footer__wrapper {
  box-sizing: border-box;
  padding: 0 15px;
  line-height: 1.6;
}

.footer .footer__wrapper h3 {
  color: #febf01;
}

.footer .footer__wrapper li {
  color: #8693a2;
}

.footer .footer__wrapper li a,
.footer .footer__wrapper li a:visited,
.footer .footer__wrapper li a:active,
.footer .footer__wrapper li a:focus {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px dashed #ffffff;
}

.footer .footer__wrapper li a:hover {
  text-decoration: none;
  color: #febf01;
  border-bottom: 1px dashed #febf01;
}

.footer .footer__wrapper span {
  display: block;
}

.footer .footer__wrapper b {
  display: block;
  margin-bottom: 7px;
  color: #8693a2;
}

.footer-copyright {
  padding: 25px 0 25px 0;
  flex-basis: 100%;
  text-align: center;
  background-color: #181c20;
  color: #8693a2;
}

.footer-copyright a {
  text-decoration: none;
  color: #ffffff;
}

.footer-copyright a:hover {
  color: #febf01;
}

#dlForm {
  width: 70%;
  margin: 0 auto;
}

#dlForm input {
  margin-bottom: 15px;
}

.my_btn {
  background-color: #e84545;
  border: none;
  text-transform: uppercase;
  color: #fff;
}

.btn_md {
  padding: 10px 30px;
}

.btn_lg {
  padding: 15px 50px;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Sans', Arial, sans-serif;
}

.center {
  text-align: center;
}

@media (min-width: 641px) {
  .services .services__features ul {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (min-width: 961px) {
  .header {
    margin: 0 50px 0px 50px;
  }

  .header .header__logo {
    padding-left: 110px;
    height: 100px;
  }

  .header .header__logo-wrapper {
    padding-right: 30px;
  }

  .header .header__desc {
    height: 100px;
  }

  .header .header__desc-wrapper {
    height: 100px;
  }

  .header .header__online-wrapper {
    margin-left: auto;
    margin-right: 80px;
  }

  .header .header__phone {
    font-size: 16px;
  }

  .header .header__navy {
    padding: 15px 20px 25px 20px;
  }

  .header .header__menu {
    font-size: 16px;
  }

  .title-image {
    height: 550px;
    margin-bottom: 50px;
  }

  .title-image .title-image__wrapper {
    margin-top: 100px;
    padding: 40px 60px 40px 60px;
  }

  .title-image .title-image__wrapper > h1 {
    margin-bottom: 25px;
    font-size: 4rem;
  }

  .title-image .title-image__wrapper > span {
    font-size: 2.5rem;
  }

  .title-image .title-image__inst {
    font-size: 2rem;
  }

  .content {
    padding: 0px 100px 30px 100px;
  }

  .content .content__map {
    padding: 50px 0;
  }

  .content h2 {
    margin-bottom: 30px;
    font-size: 18px;
  }

  .content h3 {
    margin-bottom: 25px;
    font-size: 18px;
  }

  .content p {
    font-size: 16px;
  }

  .services {
    margin-bottom: 50px;
  }

  .services .services__basic {
    flex-basis: 33.33%;
  }

  .services .services__basic h2::after {
    left: calc(50% - 35px);
    top: 35px;
    width: 70px;
    height: 70px;
  }

  .services .services__add {
    flex-basis: 33.33%;
  }

  .services .services__add h2::after {
    left: calc(50% - 35px);
    top: 35px;
    width: 70px;
    height: 70px;
  }

  .services .services__advantages {
    flex-basis: 33.33%;
  }

  .services .services__advantages h2::after {
    left: calc(50% - 35px);
    top: 35px;
    width: 70px;
    height: 70px;
  }

  .services .services__features {
    padding: 30px 150px 0px 150px;
    margin-top: 50px;
  }

  .services .services__features h2 {
    text-align: left;
  }

  .services .services__features li {
    flex-basis: 25%;
  }

  .services h2 {
    margin-bottom: 100px;
    font-size: 18px;
  }

  .services li {
    font-size: 15px;
  }

  .price {
    margin: 0px 50px 50px 50px;
  }

  .car-park {
    margin: 0 50px 0px 50px;
  }

  .car-park .car-park__brand {
    flex-basis: 33.33%;
    padding: 0 70px;
  }

  .car-park .car-park__brand span {
    margin-bottom: 50px;
  }

  .car-type {
    margin-top: -50px;
    margin-bottom: 50px;
    padding-top: 20.37%;
  }

  .car-type__wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    display: -webkit-box;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .car-type__wrapper h3 {
    font-size: 30px;
  }

  .car-type__wrapper span {
    font-size: 21px;
  }

  .footer {
    padding: 40px 50px 0 50px;
  }

  .footer .footer__wrapper {
    flex-basis: 25%;
    -webkit-box-flex: 1;
    flex-grow: 1;
  }

  .footer .footer__wrapper h3 {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .footer .footer__wrapper ul {
    margin-bottom: 40px;
  }

  .footer .footer__wrapper li {
    margin-bottom: 5px;
    font-size: 15px;
  }

  .footer .footer__wrapper span {
    margin-bottom: 20px;
    font-size: 15px;
  }

  .footer-copyright {
    font-size: 13px;
  }
}

@media (max-width: 960px) {
  .services .services__features li:nth-of-type(1),
  .services .services__features li:nth-of-type(2) {
    margin-bottom: 80px;
  }
}

@media (max-width: 640px) {
  .header {
    margin: 0 20px 0px 20px;
  }

  .header .header__logo {
    padding-left: 90px;
    height: 80px;
  }

  .header .header__desc {
    height: 80px;
  }

  .header .header__navy {
    display: none;
  }

  .header .header__menu {
    font-size: 14px;
  }

  .title-image {
    height: 300px;
    margin-bottom: 40px;
  }

  .title-image .title-image__wrapper {
    margin-top: 50px;
    padding: 25px 30px 25px 30px;
  }

  .title-image .title-image__wrapper > h1 {
    margin-bottom: 10px;
    font-size: 2rem;
  }

  .title-image .title-image__wrapper > span {
    font-size: 1.3rem;
  }

  .title-image .title-image__inst {
    font-size: 1.5rem;
  }

  .content {
    padding: 0px 15px 20px 15px;
  }

  .content .content__map {
    padding: 20px 0;
  }

  .content h2 {
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 16px;
  }

  .content h3 {
    margin-bottom: 25px;
    font-size: 16px;
  }

  .content p {
    font-size: 14px;
  }

  .services {
    margin-bottom: 40px;
  }

  .services .services__basic {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .services .services__basic h2::after {
    left: calc(50% - 25px);
    top: 35px;
    width: 50px;
    height: 50px;
  }

  .services .services__add {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .services .services__add h2::after {
    left: calc(50% - 25px);
    top: 35px;
    width: 50px;
    height: 50px;
  }

  .services .services__advantages {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .services .services__advantages h2::after {
    left: calc(50% - 25px);
    top: 35px;
    width: 50px;
    height: 50px;
  }

  .services .services__features {
    padding: 20px 20px 0px 20px;
  }

  .services .services__features h2 {
    text-align: center;
  }

  .services .services__features li:nth-of-type(3) {
    margin-bottom: 80px;
  }

  .services h2 {
    margin-bottom: 80px;
    margin-top: 10px;
    font-size: 16px;
  }

  .services li {
    font-size: 13px;
  }

  .price {
    margin: 0px 20px 20px 20px;
  }

  .price table {
    margin-left: auto;
    margin-right: auto;
  }

  .car-park {
    margin: 0 20px 30px 20px;
  }

  .car-park .car-park__brand {
    flex-basis: 100%;
    padding: 0 40px;
  }

  .car-park .car-park__brand span {
    flex-basis: 100%;
    padding: 0 40px;
    margin-bottom: 20px;
  }

  .car-type {
    margin-top: -40px;
    margin-bottom: 40px;
  }

  .car-type__wrapper > div {
    height: 200px;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .car-type__img-1 {
    text-align: center;
  }

  .car-type__img-3 {
    text-align: center;
  }

  .car-type__wrapper h3 {
    font-size: 25px;
  }

  .car-type__wrapper span {
    font-size: 20px;
  }

  .footer {
    padding: 20px 30px 0 30px;
  }

  .footer .footer__wrapper {
    flex-basis: 100%;
    text-align: center;
  }

  .footer .footer__wrapper h3 {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .footer .footer__wrapper ul {
    margin-bottom: 25px;
  }

  .footer .footer__wrapper li {
    margin-bottom: 4px;
    font-size: 14px;
  }

  .footer .footer__wrapper span {
    margin-bottom: 15px;
    font-size: 14px;
  }

  .footer-copyright {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .header .header__logo {
    padding-left: 90px;
  }
}

@media (max-width: 479px) {
  .header .header__logo-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-basis: 100%;
  }

  .header .header__desc-wrapper {
    display: none;
  }

  .header .header__online-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .header .header__phone {
    left: 24px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .header .header__phone-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-basis: 100%;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .header {
    margin: 0 20px 0px 20px;
  }

  .header .header__logo {
    padding-left: 110px;
    height: 100px;
  }

  .header .header__desc {
    height: 100px;
  }

  .header .header__phone {
    font-size: 16px;
  }

  .header .header__navy {
    padding: 10px 20px 25px 20px;
  }

  .header .header__menu {
    font-size: 14px;
  }

  .title-image {
    height: 400px;
    margin-bottom: 50px;
  }

  .title-image .title-image__wrapper {
    margin-top: 60px;
    padding: 35px 50px 35px 50px;
  }

  .title-image .title-image__wrapper > h1 {
    margin-bottom: 20px;
    font-size: 3rem;
  }

  .title-image .title-image__wrapper > span {
    font-size: 1.5rem;
  }

  .title-image .title-image__inst {
    font-size: 1.7rem;
  }

  .content {
    padding: 0px 20px 30px 20px;
  }

  .content .content__map {
    padding: 30px 0;
  }

  .content h2 {
    margin-bottom: 30px;
    font-size: 16px;
  }

  .content h3 {
    margin-bottom: 25px;
    font-size: 16px;
  }

  .content p {
    font-size: 14px;
  }

  .services {
    margin-bottom: 50px;
  }

  .services .services__basic {
    flex-basis: 33.33%;
  }

  .services .services__basic h2::after {
    left: calc(50% - 25px);
    top: 35px;
    width: 50px;
    height: 50px;
  }

  .services .services__add {
    flex-basis: 33.33%;
  }

  .services .services__add h2::after {
    left: calc(50% - 25px);
    top: 35px;
    width: 50px;
    height: 50px;
  }

  .services .services__advantages {
    flex-basis: 33.33%;
  }

  .services .services__advantages h2::after {
    left: calc(50% - 25px);
    top: 35px;
    width: 50px;
    height: 50px;
  }

  .services .services__features {
    padding: 30px 50px 0px 50px;
    margin-top: 50px;
  }

  .services .services__features h2 {
    text-align: left;
  }

  .services .services__features li {
    flex-basis: 50%;
  }

  .services h2 {
    margin-bottom: 80px;
    font-size: 16px;
  }

  .services li {
    font-size: 13px;
  }

  .price {
    margin: 0px 20px 20px 20px;
  }

  .car-park {
    margin: 0 20px 30px 20px;
  }

  .car-park .car-park__brand {
    flex-basis: 50%;
    padding: 0 50px;
  }

  .car-park .car-park__brand span {
    flex-basis: 50%;
    padding: 0 50px;
    margin-bottom: 30px;
  }

  .car-type {
    margin-top: -50px;
    margin-bottom: 50px;
    padding-top: 20.37%;
  }

  .car-type__wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    display: -webkit-box;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .car-type__wrapper h3 {
    font-size: 25px;
  }

  .car-type__wrapper span {
    font-size: 18px;
  }

  .footer {
    padding: 30px 40px 0 40px;
  }

  .footer .footer__wrapper {
    flex-basis: 50%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-align: center;
  }

  .footer .footer__wrapper h3 {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .footer .footer__wrapper ul {
    margin-bottom: 30px;
  }

  .footer .footer__wrapper li {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .footer .footer__wrapper span {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .footer-copyright {
    font-size: 12px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header .header__logo-wrapper {
    flex-basis: 50%;
  }

  .header .header__desc-wrapper {
    flex-basis: 50%;
    height: 80px;
  }

  .header .header__online-wrapper {
    flex-basis: 50%;
    margin-bottom: 20px;
  }

  .header .header__phone-wrapper {
    flex-basis: 50%;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 960px) {
  .header .header__desc-wrapper {
    display: none;
  }

  .header .header__online-wrapper {
    margin-left: auto;
    margin-right: 80px;
  }
}

@media (min-width: 480px) and (max-width: 640px) {
  .header .header__phone {
    margin-left: 20px;
    font-size: 14px;
  }
}